<br><br><br><br><br>



Hey <%=@user.username%>!!

Here are the books you own!!
<ul>
<% @user.user_books.each do |book| %>
    <%#binding.pry%>
    <li>
        <%= link_to book.book.title, book%> by <%= book.book.author %>
    </li>
<%end%>
</ul>