<h4> Hey <%=@user.username%>!! Welcome back!

</h4>
<h4>To add a new book, <%= link_to "go here!", new_user_user_book_path(@user, @user_book) %>
</h4>
<h4>To view a list of your books, <%= link_to "go here", user_user_books_path(@user, @user_book) %>
</h4>
<h4>To view a list of users, <%= link_to "go here", users_path%>
</h4>