<h4> Hey <%=@user.username%>!! Welcome back!
</h4>
<h3>Here's a list of our rare books!</h3>
<ul>
<% @rare_books.each do |book|%>
   <h5> <%= book.title%><br></h5>
<%end%>
</ul>
<%= render 'user_books/nav' %>