<h2>Save a new book!</h2>

<% if @user_book.errors.any? %>
    <% @user_book.errors.full_messages.each do |error| %>
        <h4 class= "error"><%= error %></h4>
    <% end %>
<% end %>

<%= render 'form' %>
<%= render 'nav' %>
